<!-- Rewriting to inherit from base.html 
Must have extends on first line to tell Django which parent template to inherit from
-->
{% extends "learning_logs/base.html" %}

{% block header %}
    {# in the header we have a jumbotron! Basically a large box that will stand out from rest of page and contain w/e you want #}
    <div class='jumbotron'>
        <h1>Logging your knowledge.</h1>
    </div>
{% endblock header %}

<!-- Everything we aren't inheriting from parent template goes into content block -->
{% block content %}
    {# providing direction for users who comes to the site #}
    <h2>
        {% if not user.is_authenticated %}
            <a href="{% url 'users:register' %}">Register an account</a> to make your own Learning Log or <a href="{% url 'users:login' %}">log in</a> if you already have an account, and list the topics you're learning about.
        {% endif %}
    </h2>
    <h2>
        Whenever you learn something new about a topic, make an entry summarizing what you've learned.
    </h2>
{% endblock content %}