{% extends "learning_logs/base.html" %}

{% block content %}
    <p>Add a new topic:</p>
    {% comment %}
        Define an HTML form.
        action: tells serveer where to send data submitted in form.
        we send it back to view function new_topic().
        method tells the browser to submit data as a POST request.
    {% endcomment %}
    <form action="{% url 'learning_logs:new_topic' %}" method="post">
        {# csrf (cross-site request forgery) token: prevent attackers from using form to gain unauth access to the website. #}
        {% csrf_token %}
        {# display the form; as_p modifier tells Django to render all form elements in paragraph format #}
        {{form.as_p}}
        {# Django doesn't create a submit button, so.. we make one #}
        <button name="submit">add topic</button>
        
    </form>
{% endblock content %}